
NEXT_PUBLIC_APP_URL=http://localhost:3000

API_BASE_URL=http://localhost:8000
API_SECRET_KEY=your_api_secret_key
BFF_SERVICE_CREDENTIAL=your_distinct_bff_service_credential
SEO_RENDERER_CREDENTIAL=your_distinct_seo_renderer_credential
ANONYMOUS_SESSION_ENABLED=false
NEXT_PUBLIC_PRODUCT_ACTION_APIS_ENABLED=false


ENCRYPTION_SECRET=your_encryption_secret_min_32_chars
ENCRYPTION_SALT=your_encryption_salt_min_16_chars

NEXT_PUBLIC_ENCRYPTION_SECRET=your_encryption_secret_min_32_chars
NEXT_PUBLIC_ENCRYPTION_SALT=your_encryption_salt_min_16_chars

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX

REVALIDATION_SECRET=your_revalidation_secret

LOG_LEVEL=info
