@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet */

.leaflet-popup-content {
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: transparent !important;
  box-shadow: none !important;
}
.leaflet-popup-content-wrapper {
  padding: 0 !important;
}
.leaflet-popup-content p {
  margin: 0 !important;
}
.leaflet-container a {
  text-decoration: none !important;
}

.marker-glow {
  width: 50px;
  height: 50px;
  background-color: rgb(108, 142, 140);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  animation: extend-wave ease-in-out 1.5s infinite;
  box-shadow: 0 0 10px 0 rgba(108, 142, 140, 0.7);
}

@keyframes extend-wave {
  0% {
    box-shadow: 0 0 10px 0 rgba(108, 142, 140, 0.7);
  }
  25% {
    box-shadow: 0 0 30px 20px rgba(108, 142, 140, 0);
  }
  50% {
    box-shadow: 0 0 50px 40px rgba(108, 142, 140, 0);
  }
  75% {
    box-shadow: 0 0 30px 20px rgba(108, 142, 140, 0);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(108, 142, 140, 0.7);
  }
}

.leaflet-container img.leaflet-tile {
  /* See: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
  mix-blend-mode: plus-lighter;
}

/* End of Leaflet */
